.App {
  font-family: sans-serif;
  text-align: center;
  width: 240px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  border: 1px solid #bababa;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  background: transparent;
  color: #555555;
  cursor: pointer;
}

.cell:hover {
  background: #ededed;
}

.cell:disabled {
  cursor: not-allowed;
  &:hover {
    background: transparent;
  }
}
